body, main {
  font: 12.0px Courier;
  color: #000000;
}

ul, li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

span {
  white-space: pre;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p, label, .controls {
  margin: 0.0px 0.0px 0.0px 0.0px;
  font: 12.0px Courier;
  color: #000000;
}

label, section, .container, .controls, .progress {
  width: 49ch;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis " [..]";
  white-space: nowrap;
}

.label.row:after {
  content: " ..................................................."
}


.container {
  display: flex;
  justify-content: space-between;
}

.controls {
  text-align: right;
}

.track, .playButton {
  cursor: pointer;
}

.download {
  color: black;
}

.progress {
  position: absolute;
  bottom: 0px;
  background: white;
  align-items: center;
  padding-bottom: 8px;
}

.progress.

.image-hover-canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: all
}

.image-hover {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: cover;
}